.item-description{
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-checked:checked + .item-description{
    background: #dddddd;
    text-decoration: line-through;
}

.btn {
    padding: 8px 14px;
    font-weight: bold;
    color: #ffffff;
    background: #009578;
    cursor: pointer;
}